<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>テスト</title>
  <link rel="stylesheet" href="./assets/css/reset.css">
  <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
  <%- include('./components/header.ejs') %>
  <main>
    <h1>テスト</h1>
    <div class="img_test">
      <img src="./public/img/Code_ZeozBUPsGA.png" alt="">
    </div>
  </main>
  <%- include('./components/footer.ejs') %>
  <script type="module" src="./assets/scripts/main.ts"></script>
</body>
</html>
